<div class="header">
    <a routerLink="/list">
        <img src="../../assets/pokeLogo.png">
    </a>
</div>

<div class="card">
    <ng-container *ngIf="pokemon$ | async as pokemon; else notFound" class="container">
      <h1>{{pokemon.name}}</h1>
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-iii/emerald/{{pokemon.id}}.png">
      <p>type(s):</p>
      <p *ngFor="let type of pokemon.types">{{type.type?.name}}</p>
      <p>weight: {{pokemon.weight}}</p>
      <p>height: {{pokemon.height}}</p>
      <p>base experience: {{pokemon.base_experience}}</p>
    </ng-container>
  </div>

<button type="button" (click)="goBack()">back</button>
  
<ng-template #notFound>
    <h1> Not Found Redirect </h1>
</ng-template>

