/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    background-color: black;
}

button {
    color: #eeb7b7;
    background-color: red;
    border-radius: 20px;
    margin-right: 20px;
    padding: 10px 20px;
    font-family: PressStart2P-Regular;
    font-size: 16px;
} 

a {
    font-family: PressStart2P-Regular;
    text-decoration: none;
    color: #eeb7b7;
} 